.reviewsSection {
    padding-bottom: 68px;
}

.reviewTitle {
    margin-bottom: 45px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.222;
    text-align: center;
}

.reviewItem {
    padding: 40px 16px;
    margin-bottom: 43px;
    border: 2px solid rgb(231, 231, 231);
    border-radius: 20px;
    background: rgb(244, 244, 244);
}

.avatar {
    margin: 0 auto 26px auto;
    width: 117px;
    height: 117px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
}

.infoUser {
    margin-bottom: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.222;
}

.reviewText {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.222;
}

@media (min-width: 1440px) {
    .reviewsSection {
        padding-bottom: 68px;
    }

    .reviewTitle {
        margin-bottom: 36px;
        font-size: 64px;
        font-weight: 700;
        line-height: 1.218;
        text-align: left;
    }

    .list {
        display: flex;
        gap: 37px;

    }

    .reviewItem {
        width: 361px;
    }
}