.optionsSection {
    padding-top: 35px;

}

.optionsTitle {
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.222;
    text-align: center;
}

.typeWrapper {
    background: rgb(245, 245, 245);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 24px;
    padding-left: 23px;
    padding-right: 25px;
}

.box {
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.214;
}

.priceWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.priceList {
    display: flex;
    gap: 18px;
    margin-top: 8px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.23;
}

.optionList {
    margin-top: 22px;
    padding-left: 23px;
    padding-right: 22px;
}

.otionItem {
    margin-bottom: 12px;
    display: flex;
    align-items: center;


}

.orderBtn {
    padding: 6px 10px;
    border-radius: 4px;
    background: rgb(47, 180, 108);
    font-size: 11px;
    font-weight: 600;
    line-height: 1.18;
    border: none;
}

.orderPriceBox {
    margin-right: 30px;
    display: flex;
    gap: 13px;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.214;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 22px;
}

.moreInfoBox {
    display: none;
}


@media (min-width: 1440px) {

    .optionsSection {
        padding-top: 109px;
    }

    .optionsTitle {
        margin-bottom: 58px;
    }


    .box {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
        justify-content: flex-start;
        gap: 380px;
    }

    .priceList {
        margin-top: 24px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .priceList li {
        display: flex;
    }

    .priceList li:not(:last-child)::after {
        content: '';
        vertical-align: middle;
        display: inline-block;
        width: 1px;
        height: 25px;
        margin: 0 15px 0 35px;
        background-color: rgba(18, 20, 23, 0.1);
    }

    .optionList {
        padding-left: 135px;
        padding-right: 135px;
    }

    .iconUser {
        width: 41px;
        height: 41px;
    }

    .iconTwoUsers {
        width: 61px;
        height: 41px;
    }

    .iconThreeUsers {
        width: 81px;
        height: 41px;
    }

    .iconFourUsers {
        width: 101px;
        height: 41px;
    }

    .otionItem {
        margin-bottom: 45px;
        justify-content: space-between;
    }

    .orderBtn {
        padding: 14px 7px;
        border-radius: 11px;
        background: rgb(47, 180, 108);
        font-size: 24px;
        font-weight: 600;
        line-height: 1.208;
        border: none;
    }

    .orderPriceBox {
        margin-right: 74px;
        display: flex;
        gap: 90px;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.2;
    }

    .wrapper {
        display: flex;
        gap: 0;
        flex-direction: row-reverse;
        align-items: center;
        margin-right: 87px;
    }

    .moreInfoBox {
        display: block;
        margin-top: 200px;

    }

    .rightbox {
        display: flex;
        align-items: center;

    }

    .wrap {
        display: flex;
        gap: 33px;
        align-items: center;
        margin-bottom: 45px;
    }

    .usersBar {
        display: flex;
        justify-content: space-between;
        padding-left: 135px;
        padding-right: 135px;
        padding-top: 28px;
    }

    .imgWpar {
        margin-top: 49px;
        padding: 180px 265px;
        width: 726px;
        height: 379px;
        background: rgb(233, 233, 233);
    }

    .imgText {
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.2;
    }

}